In [1]:
sexo = ['Masculino','Femenino']

In [8]:
for s in sexo:
    print(s)

Masculino
Femenino

In [9]:
for i in range(len(sexo)):
    print(sexo[i])

Masculino
Femenino

In [26]:
nombre = ['Jonatan','Joshua','Heidi']
edad = [24,19,52]
sexo = ['Masculino','Masculino','Femenino']

In [32]:
if len(nombre) == len(edad) == len(sexo):
    n = len(nombre) #numero de registros
    for i in range(n):
        if sexo[i] == 'Femenino':
            print(f'Buenos días {nombre[i]}, tenemos un producto para ti')

Buenos días Heidi, tenemos un producto para ti

In [38]:
amigos = {
    'joshua blank': {
        'edad': 19,
        'mail': 'blablabla'
    },
    'mike maciel': {
        'edad': 24,
        'mail': 'blablabla'
    },
    'joshua ramirez': {
        'edad': 23,
        'mail': 'blablabla'
    },
}

In [40]:
import pandas as pd

In [41]:
pd.DataFrame(amigos)

     joshua blank mike maciel joshua ramirez
edad           19          24             23
mail    blablabla   blablabla      blablabla

In [42]:
base = {
    'name': nombre,
    'age': edad,
    'sex': sexo
}

In [45]:
df = pd.DataFrame(base)

In [46]:
df

      name  age        sex
0  Jonatan   24  Masculino
1   Joshua   19  Masculino
2    Heidi   52   Femenino

In [62]:
df.index = range(1,len(df['age'])+1)

In [63]:
df

      name  age        sex
1  Jonatan   24  Masculino
2   Joshua   19  Masculino
3    Heidi   52   Femenino

Tarea de Clasificación

In [64]:
VET = {
    'Animales': {
        'Gato': {
            'disponibles': 3,
            'costo': 500,
            'dificultad': 5.5
        },
        'Perro': {
            'disponibles': 5,
            'costo': 1500,
            'dificultad': 8
        },
        'Perico': {
            'disponibles': 4,
            'costo': 200,
            'dificultad': 3
        }
    }
}

Crea un Bot de recomendación de mascotas, considerando las siguientes cosas:
1. Presupuesto del cliente
2. Disponibilidad de la mascota
3. Dificultad aceptada (si tiene niños, dificultad debe de ser menor que 7)

In [ ]:
budget = input('Presupuesto: ')
kids = input('Tiene niños (si/no): ')

In [65]:
nombre = ['Jonatan','Joshua','Heidi']
edad = [24,19,52]
sexo = ['Masculino','Masculino','Femenino']